.admonition {
    margin: 20px 0px 20px 0px;
    justify-content: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0.2rem 0.5rem rgba(255, 255, 255, 0.2),0 0 0.05rem #fdfdfd1a;
}
.admonition-icon {
    display: flex;
}
.admonition-title {
    display: flex;
    padding-left: 10px;
    font-variant: all-small-caps;
}
.admonition-content {
    padding: 4px 20px 4px 20px;
    color: $light-color;
}
.admonition-heading {
    font-size: large;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: $light-color;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

/* INFO */
.admonition-info {
    border-color: #00a6bf;
}

.heading-info {
    background-color: #1d3d5b;
}

/* AlERT */
.admonition-alert-triangle {
    border-color: #ff9100;
}

.heading-alert-triangle {
    background-color: #ff91001a;
}

.admonition-terminal {
    border-color: #7c4dff;
}

.heading-terminal {
    background-color: #7c4dff1a;
}
